* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 

}

html{
  min-height: 100%;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  min-height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

.btn{
  display: inline-block;
  border: none;
  background: #1A8352;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #FE6A53;
  color: #25CED1;
}

h1{
  color: white;
}